{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="col-lg-8">
        <div class="card">
            <div class="header bg-green">
                <h2>Liste des mes notes de frais</h2>
            </div>
            <div class="body">
                <table class=" table table-striped">
                    <thead>
                        <tr>
                            <th>On verra</th>
                            <th>On verra</th>
                            <th>On verra</th>
                            <th>On verra</th>
                            <th>On verra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                        </tr>
                        <tr>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                        </tr>
                        <tr>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                        </tr>
                        <tr>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                            <td>On verra aussi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="header">
                <h2>Créer une nouvelle note de frais</h2>
            </div>
            <div class="body">
                Faire le form pour l'ajout de note
            </div>
        </div>
    </div>
{% endblock %}
