{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="header bg-green">
                        <h2>Détail de la note de frais {{ expense.title }}</h2>
                    </div>
                    <div class="body">
                        à faire
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}